body {
    background-color: #313338;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    background-color: #2b2d31;
    border-radius: 10px;
    width: 300px;
    float: left;
}

input {
    background-color:#383a40; 
    color: #ffffff;
    margin: 5px;
}

label {
    padding: 5px;
    
}

a {
    color: #ffffff;
}

.np, .titleobj {
    font-weight: 600;
}

.titleobj, .descobj {
    background-color: #1e1f22;
    font-family: monospace;
    font-size: 0.875rem;
}

.embeddesc {
    font-weight: 400;
}

button, .submit {
    background-color: white;
    color: black;
    float: left;
    width: -moz-fit-content;
    width: fit-content;
}


.trackembed {
    height: auto;
    margin-top:10px;
    margin-bottom:10px;

}

.embed {
    height: 175px;
    color: white;
    background-color: #2b2d31;
    margin-left: 15px;
    margin-top: 10px;
    width:300px;
    margin-bottom:10px;
    border-radius: 4px;
    border: solid 0px;
    border-left-width: 4px;
    border-color: #5865F2;
    display: inline-block; 
}


.embedtitle, .embeddesc {

    padding-left: 12px;
}


.submit {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}

 .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.info, .socials {
    margin-top: 10px;
    margin-bottom: 10px;
}

.socials {
    height: auto;
}

.info { height: 150px;
width: 328px;}

#example1 { 
    display: inline-block;
    margin-top: 10px;
    
}
